.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clearfix ::before,
clear::after {
  display: hidden;
  content: "";
  clear: both;
  border: 0px;
  line-height: 0px;
}
.ta-c {
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
.main .head {
  background-color: #12d5b5;
  height: 40px;
  padding: 0 7px;
}
.main .head .desc {
  color: #ffffff;
  line-height: 40px;
}
.main .head .go_login {
  color: #ffffff;
  background-color: #FEAE11;
  padding: 0 15px;
  margin-top: 7px;
}
.main .head .welcome {
  color: #ffffff;
  line-height: 40px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid #d4d4d4;
}
.footer .content_wrapper {
  display: flex;
}
.footer .content_wrapper .icon {
  display: inline-block;
  width: 25px;
  height: 21px;
  background-size: 25px 21px;
  background-repeat: no-repeat;
  line-height: 40px;
}
.footer .content_wrapper .text {
  color: #9f9e9d;
  line-height: 40px;
}
.footer .content_wrapper .position {
  flex: 1;
}
.footer .content_wrapper .position .document-icon {
  background-image: url("../image/document.png");
}
.footer .content_wrapper .search {
  flex: 1;
}
.footer .content_wrapper .search .search-icon {
  background-image: url("../image/search.png");
}
.footer .content_wrapper .my {
  flex: 1;
}
.footer .content_wrapper .my .my-icon {
  background-image: url("../image/my.png");
}
.position_list .position_wrapper .position {
  position: relative;
  padding: 10px 5px;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}
.position_list .position_wrapper .position .left {
  display: inline-block;
  margin-right: 13px;
}
.position_list .position_wrapper .position .right {
  display: inline-block;
}
.position_list .position_wrapper .position .right .salaryName .text {
  color: #FF0000;
}
.position_list .position_wrapper .position .favorite_wrapper {
  position: absolute;
  right: 14px;
  top: 16px;
}
.position_list .position_wrapper .position .favorite_wrapper .favorite_icon {
  display: inline-block;
  width: 37px;
  height: 33px;
  background-image: url("../image/star.png");
  background-size: 37px 33px;
}
.position_desc {
  margin-top: 10px;
  background-color: #ffffff;
}
.position_desc .title {
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  margin-top: 0;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  padding-bottom: 20px;
}
.position_desc .content {
  padding-left: 10px;
  font-size: 16px;
}
.position_head {
  height: 40px;
  line-height: 40px;
  background-color: #12d5b5;
  color: #ffffff;
  padding: 0 10px;
}
.basic_info {
  position: relative;
  padding: 40px 10px;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}
.basic_info .top {
  margin-bottom: 22px;
}
.basic_info .top .name {
  display: inline-block;
  margin-right: 20px;
}
.basic_info .top .salaryName {
  color: #FF0000;
}
.basic_info .middle {
  margin-bottom: 22px;
}
.basic_info .favorite_wrapper {
  position: absolute;
  right: 30px;
  top: 40px;
}
.basic_info .favorite_wrapper .favorite_icon {
  display: inline-block;
  width: 47px;
  height: 43px;
  background-size: 47px 43px;
}
.basic_info .favorite_wrapper .favorite_icon.noFavorite {
  background-image: url("../image/star.png");
}
.basic_info .favorite_wrapper .favorite_icon.favorite {
  background-image: url("../image/star-active.png");
}
.company {
  padding: 10px 12px;
  background-color: #ffffff;
}
.company .avatar {
  display: inline-block;
}
.company .desc_wrapper {
  display: inline-block;
  line-height: 32px;
}
.company .desc_wrapper .name {
  padding-top: 0;
}
.app_position_class {
  padding: 13px 9px 0 9px;
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
}
.app_position_class .head {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 5px;
}
.app_position_class .head .title {
  margin-bottom: 35px;
}
.app_position_class .head .select_wrapper .select {
  display: inline-block;
  padding: 10px 23px;
  border-radius: 20px;
  background-color: #def8f5;
  margin-right: 11px;
}
.app_position_class .head .select_wrapper .select.active {
  background-color: #12D5B5;
}
.app_position_class .position_list .position {
  position: relative;
  padding: 18px 0;
}
.app_position_class .position_list .position .name {
  margin-bottom: 18px;
}
.app_position_class .position_list .position .salary {
  position: absolute;
  right: 10px;
  top: 20px;
  color: #FF0000;
}
.position_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  color: #ffffff;
  line-height: 40px;
  background-color: #12d5b5;
}
.search_head {
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: #12d5b5;
}
.search_head .search_head_wrapper {
  display: flex;
}
.search_head .search_head_wrapper .cancel_wrapper {
  flex: 0 0 85px;
  width: 85px;
  padding-right: 10px;
}
.search_head .search_head_wrapper .cancel_wrapper .cancel {
  color: #ffffff;
}
.search_head .search_head_wrapper .input_wrapper {
  flex: 1;
}
.search_head .search_head_wrapper .input_wrapper .input {
  height: 26px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  padding-left: 15px;
  background-color: #EEEEEE;
}
.search_head .search_head_wrapper .search_wrapper {
  flex: 0 0 85px;
  width: 85px;
  padding-left: 10px;
}
.search_head .search_head_wrapper .search_wrapper .search {
  color: #9f9e9d;
}
.search_head .search_head_wrapper .search_wrapper .search .search_icon {
  display: inline-block;
  width: 15px;
  margin-right: 5px;
  background-image: url("../image/search.png");
  background-repeat: no-repeat;
  background-size: 15px;
  height: 15px;
}
.tab_wrapper {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.tab_wrapper .tab {
  display: flex;
}
.tab_wrapper .tab .item {
  flex: 1;
}
.tab_wrapper .tab .item.active {
  border-bottom: 2px solid #12d5b5;
}
.sheet_wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(7, 17, 27, 0.1);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
}
.sheet_wrapper .sheet {
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 0;
  z-index: 120;
}
.sheet_wrapper .sheet .item_wrapper {
  border-radius: 5px;
  max-height: 800px;
}
.sheet_wrapper .sheet .item_wrapper .item {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  background-color: #f1f2f3;
  color: #1063e5;
  border-bottom: 1px solid #dddddd;
}
.sheet_wrapper .sheet .cancel {
  width: 100%;
  background-color: #f1f2f3;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #1063e5;
  margin: 10px 0;
  border-radius: 5px;
}
.my_content .image_wrapper {
  margin: 60px auto 25px;
}
.my_content .event_wrapper {
  margin: 40px auto 20px;
}
.my_content .event_wrapper .event {
  display: inline-block;
  width: 160px;
  margin-right: 20px;
  height: 100px;
  line-height: 100px;
  color: #ffffff;
  background-color: #12d5b5;
}
.my_content .event_wrapper .event:last-child {
  margin-right: 0;
}
.my_content .login_out_wrapper {
  margin: 40px auto 0;
}
.my_content .login_out_wrapper .login_out {
  height: 40px;
  width: 350px;
  color: #ffffff;
  background-color: #FF0000;
  font-size: 16px;
}
.go_to_login {
  height: 40px;
  width: 90%;
  margin: 300px auto;
  line-height: 40px;
  background: #12d5b5;
  color: #ffffff;
}
.login {
  background-image: url(../image/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.login .form_wrapper {
  position: relative;
  margin-top: 230px;
}
.login .form_wrapper .phone_wrapper {
  width: 100%;
  height: 40px;
  font-size: 0;
}
.login .form_wrapper .phone_wrapper .phone_icon_wrapper {
  display: inline-block;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}
.login .form_wrapper .phone_wrapper .phone_icon_wrapper .phone_icon {
  display: inline-block;
  width: 23px;
  height: 24px;
  height: 40px;
  background-image: url("../image/account.png");
  background-size: 23px 24px;
  background-repeat: no-repeat;
  background-position: 0 8px;
}
.login .form_wrapper .phone_wrapper .phone {
  height: 40px;
  width: 250px;
  box-sizing: border-box;
  outline: 0;
  border-width: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding-left: 20px;
  color: #ffffff;
}
.login .form_wrapper .phone_wrapper .phone::-webkit-input-placeholder {
  color: #ffffff;
}
.login .form_wrapper .phone_wrapper .validation-invalid {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 40px;
  font-size: 14px;
  color: #FF0000;
}
.login .form_wrapper .password_wrapper {
  margin-top: 15px;
  font-size: 0;
}
.login .form_wrapper .password_wrapper .password_icon_wrapper {
  display: inline-block;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}
.login .form_wrapper .password_wrapper .password_icon_wrapper .password_icon {
  display: inline-block;
  width: 23px;
  height: 24px;
  height: 40px;
  background-image: url("../image/lock.png");
  background-size: 23px 24px;
  background-repeat: no-repeat;
  background-position: 0 8px;
}
.login .form_wrapper .password_wrapper .password {
  height: 40px;
  width: 250px;
  box-sizing: border-box;
  outline: 0;
  border-width: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding-left: 20px;
  color: #ffffff;
}
.login .form_wrapper .password_wrapper .password::-webkit-input-placeholder {
  color: #ffffff;
}
.login .form_wrapper .password_wrapper .validation-invalid {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 80px;
  font-size: 14px;
  color: #FF0000;
}
.login .form_wrapper .login_wrapper {
  margin-top: 60px;
}
.login .form_wrapper .login_wrapper .log {
  width: 300px;
  height: 40px;
  background-color: #12d5b5;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
.login .form_wrapper .register_wrapper {
  margin-top: 20px;
}
.login .form_wrapper .register_wrapper .reg {
  width: 300px;
  height: 40px;
  background-color: rgba(18, 213, 81, 0.2);
  font-size: 16px;
  font-weight: 700;
  color: #12d5b5;
  border: 1px solid #12d5b5;
}
.register {
  background-image: url(../image/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.register .form_wrapper {
  margin-top: 50px;
}
.register .form_wrapper .phone_wrapper {
  width: 100%;
  height: 40px;
  font-size: 0;
}
.register .form_wrapper .phone_wrapper .phone_icon_wrapper {
  display: inline-block;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}
.register .form_wrapper .phone_wrapper .phone_icon_wrapper .phone_icon {
  display: inline-block;
  width: 23px;
  height: 24px;
  height: 40px;
  background-image: url("../image/account.png");
  background-size: 23px 24px;
  background-repeat: no-repeat;
  background-position: 0 8px;
}
.register .form_wrapper .phone_wrapper .phone {
  height: 40px;
  width: 250px;
  box-sizing: border-box;
  outline: 0;
  border-width: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding-left: 20px;
  color: #ffffff;
}
.register .form_wrapper .phone_wrapper .phone::-webkit-input-placeholder {
  color: #ffffff;
}
.register .form_wrapper .phone_wrapper .validation-invalid {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 90px;
  font-size: 14px;
  color: #FF0000;
}
.register .form_wrapper .password_wrapper {
  margin-top: 15px;
  font-size: 0;
}
.register .form_wrapper .password_wrapper .password_icon_wrapper {
  display: inline-block;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}
.register .form_wrapper .password_wrapper .password_icon_wrapper .password_icon {
  display: inline-block;
  width: 23px;
  height: 24px;
  height: 40px;
  background-image: url("../image/lock.png");
  background-size: 23px 24px;
  background-repeat: no-repeat;
  background-position: 0 8px;
}
.register .form_wrapper .password_wrapper .password {
  height: 40px;
  width: 250px;
  box-sizing: border-box;
  outline: 0;
  border-width: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding-left: 20px;
  color: #ffffff;
}
.register .form_wrapper .password_wrapper .password::-webkit-input-placeholder {
  color: #ffffff;
}
.register .form_wrapper .password_wrapper .validation-invalid {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 150px;
  font-size: 14px;
  color: #FF0000;
}
.register .form_wrapper .message_wrapper {
  margin-top: 50px;
}
.register .form_wrapper .message_wrapper .message {
  width: 200px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  color: #ffffff;
  padding-left: 15px;
  box-sizing: border-box;
}
.register .form_wrapper .message_wrapper .message::-webkit-input-placeholder {
  color: #ffffff;
}
.register .form_wrapper .message_wrapper .send_message {
  display: inline-block;
  margin-top: 20px;
  height: 20px;
  line-height: 20px;
  width: 70px;
  margin-left: 40px;
  color: #12d5b5;
  border: 1px solid #12d5b5;
  box-sizing: border-box;
}
.register .form_wrapper .login_wrapper {
  margin-top: 60px;
}
.register .form_wrapper .login_wrapper .log {
  width: 300px;
  height: 40px;
  background-color: #12d5b5;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
.register .form_wrapper .register_wrapper {
  margin-top: 20px;
}
.register .form_wrapper .register_wrapper .reg {
  width: 300px;
  height: 40px;
  background-color: rgba(18, 213, 81, 0.2);
  font-size: 16px;
  font-weight: 700;
  color: #12d5b5;
  border: 1px solid #12d5b5;
}
.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}
.ng-enter-active {
  opacity: 1;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #EEEEEE;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
